<h2><%= @section.name %></h2>

<ul class="article-list">
  <% @articles.each do |article| %>
    <li>
      <h3><%= link_to article.title, article %></h3>
      <h4><%= link_to article.writer.name, article.writer %></h4>
      <p class="article-snippet"><%= article.snippet %></p>
    </li>
  <% end %>
</ul>
